// app global css

.modal-content .q-card .q-card-main {
  max-height: 65vh !important;
  overflow: auto;
}

.modal-content {
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  border-radius: 100px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--q-color-primary);
  // border-left: 1px solid rgba(0,0,0,.1);
  border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--q-color-primary);
  border-radius: 100px;
  width: 90%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--q-color-tertiary);
  border-radius: 100px;
}

.component-fade-enter-active {
  transition: all 0.4s ease;
}

.component-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.component-fade-enter, .component-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}



.celda-input {
  transition: all 0.45s;
  
    .q-field-bottom {
        padding-bottom: 8px;
        padding-top: 0px;
    }

  .q-if-label-above {
    background: white;
    color: var(--q-color-primary);
    transform: translate(-3px, -90%) !important;
    padding: 0px 3px;
  }

  .q-if-inner {
    padding: 6px 8px;
  }

  svg {
    position: absolute;
    right: 0;
  }

  .q-icon.q-icon-focused {
    transform: rotate(90deg) !important; /* rtl:ignore */
  }

  .q-icon.q-if-control.fas.fa-calendar-alt {
    font-size: 18px;
    margin-right: 5px;
    width: 24px;
  }

  .q-icon.material-icons:not(.q-checkbox-icon) {
    display: none;
  }
}

.celda-input:not(.q-popover):not(.q-checkbox) {
  border: 1px solid;
  border-radius: 2px;

  &:focus-within {
    border: 1px solid var(--q-color-primary);
    color: var(--q-color-primary) !important;
  }
}

.celda-input:not(.q-popover) {
  margin: 0px 0px 16px 0px;
}

.celda-input.q-checkbox {
  min-height: 48px;
}

.celda-input.q-if-standard.q-if-has-label {
  padding-top: 0px;
}

.q-table-container, .q-card {
    background: white
}

main {
    background: #f5f5f5;
}